h1, h3, h4, #content p {
	text-align: center;
}

#instructions {
	width: 600px;
	padding: 10px;
	margin: 0 auto;
	text-align: center;
}

#instructions span {
	outline: 1px solid black;
	font-size: 20px;
	background-color: orange;
}

.benchmark-tools {
	margin: 25px auto;
	width: 1000px;
	outline: 5px solid green;
	background-color: #CCCCFF;
}

div.tools-outer {
}

div.tools-inner {
	width: 980px;
	margin: 10px auto;
}

div.tools-inner a {
	display: inline-block;
	text-align: center;
	width: 300px;
	margin: 10px 0 10px 20px;
	padding: 10px;
	background-color: orange;
}

div.tools-inner a span {
	display: block;
	width: 100%;
	font-size: 20px;
}

div.tools-inner a img {
	display: block;
	width: 100%;
	height: 200px;
}
